<h2 class="text-center">@Model.name</h2>
<div class="line"></div>
<div class="d-flex flex-row justify-content-center align-items-center">
	<div class="w-50 item-description">
		<p>@Model.roomType.description</p>
		<p>Тип: @Model.roomType.name</p>
		<p>Площа: @Model.area м<sup>2</sup></p>
		<p>Загальна кількість місць: @Model.maxPlaces</p>
		<p>
			Тарифи:
			@{
				foreach (var price in @Model.tariffs)
				{
					<span> <b>@price.pricePerUnit</b>/@price.timeUnit.ToString()  </span>
				}
			}
		</p>
		<p>
			Додаткові послуги:
			<ul>
				@{
					foreach (var service in @Model.services)
					{
						<li>@service</li>
					}
				}
			</ul>
		</p>
	</div>
	<div class="w-50">
		<img class="img-thumbnail" src="@Model.imageUrl" alt="@Model.name" />
	</div>
</div>